* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: rgb(32, 32, 32);
}

.card {
	max-width: 1000px;
	border-radius: 12px;
	height: 600px;
	background: #fff;
	margin: 10px auto;
	text-align: center;
	padding-bottom: 100px;
}

h1 {
	font-size: 240px;
}

img {
	width: 200px;
	height: 200px;
	object-fit: cover;
	border-radius: 10px;

}

.img_box {
	display: flex;
	align-items: center;
	gap: 10px;
	justify-content: space-between;
	padding-bottom: 100px;
}

.grain {
	pointer-events: none;
	z-index: 9999;
	justify-content: center;
	align-items: center;
	display: flex;
	position: fixed;
	top: 0%;
	bottom: 0%;
	left: 0%;
	right: 0%;
	overflow: hidden;
	opacity: .12;
}

.grain-texture {
	width: 300%;
	height: 300%;
	max-width: none;
	background: black;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='9.35' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
	background-position: 50%;
	background-size: 656px;
	flex: none;
	position: absolute;
	top: -150%;
	bottom: 0%;
	left: -150%;
	right: 0%;
}

.grain-texture {
	animation: 2s steps(1) infinite noise;
}

@keyframes noise {

	0%,
	100% {
		background-position: 0 0;
	}

	10% {
		background-position: -5% -10%;
	}

	20% {
		background-position: -15% 5%;
	}

	30% {
		background-position: 7% -25%;
	}

	40% {
		background-position: 20% 25%;
	}

	50% {
		background-position: -25% 10%;
	}

	60% {
		background-position: 15% 5%;
	}

	70% {
		background-position: 0% 15%;
	}

	80% {
		background-position: 25% 35%;
	}

	90% {
		background-position: -10% 10%;
	}
}